@font-face {
  font-family: 'Lato', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Lato')
}

/* body {
  font-family: 'Exo 2', sans-serif;
  height: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #efefef;
} */

.entire-app {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.codemon-body {
  margin: 25px;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Exo 2', sans-serif;
  height: 100%;
  background-color: #efefef;
}

nav {
  display: flex;
  margin: 1em;
  justify-content: space-around;
}

nav a {
  display: inline-flex;
  align-content: center;
  justify-content: space-between;
  margin-right: 15px;
  font-size: 20px;
  color: #4484ce;
  text-decoration: none;
}

nav a:hover {
  background-color: #f9cf00;
}

nav a:last-of-type {
  margin-right: 0;
}

.logo-image {
  margin-top: 15px;
}

.nav-bar-poke {
  text-align: center;
  width: 100%;
}

.pokemon-nav {
  display: inline-flex;
  flex-wrap: wrap;
}

.pokemon-nav img::selection {
  background-color: red;
}

.pokemon-nav img {
  width: 45px;
  margin-bottom: 10px;
}

.training-container {
  display: inline-flex;
  align-items: stretch;
  justify-content: space-between;
}

.training-area {
  width: 50%;
}

.single-pokemon-view {
  width: 50%;
  align-self: center;
  margin: auto;
  text-align: center;
}

footer {
  text-align: center;
}

.poke-images {
  width: 200px;
  align-self: center;
}

.below-nav {
  display: flex;
  justify-content: space-between;
  width: 95 vw;
  margin: auto;
}

#stats-container {
  width: 95vw;
}

.poke-stats {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: white;
}

.single-poke-stat {
  min-width: 200px;
  margin-bottom: 20px;
}

label {
  display: block;
}

.wild-poke-attack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wild-poke-attack img {
  min-width: 100px;
  height: auto;
}

.timer {
  display: flex;
  align-items: center;
}

.battle-poke-opp {
  display: flex;
  justify-content: space-around;
}

.battle-poke-opp img {
  min-height: 120px;
  width: auto;
}

.battle-problem {
  display: flex;
  justify-content: center;
}

.bounce {
  height: 70px;
  width: 200px;
  color: #4484ce;
  background-color: #f9cf00;
  /* border-radius: 15%; */
  font-family: 'Exo 2', sans-serif;
  font-size: 15px;
  border: #4484ce;
  border-style: outset;
  border-width: 10px;
}

.set-timeout {
  display: none;
}

.battle-own-poke {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.battle-own-poke-img {
  min-width: 150px;
  margin-bottom: 15px;
}
