body {
  font-family: 'Lato', sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

@font-face {
  font-family: 'Lato', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Lato')
}
